/* CSS General Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	
	font-family: 'Fredoka', sans-serif;
}

/* Main CSS */

main > h1{
	color: #E53170;
	text-align: center;
	margin-top: 30px;
}

main > p{
	margin-top: 30px;
	text-align: center;
}

.content{
	width: 80%;
	margin: auto;
}


.col{
	color: white;
	background-color: #0F0E17;
	width: 30%;
	float: left;
	margin: 30px 15px;
}

img.float-left{
	float: left;
	height: 120px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.col h2{
	font-weight: 800px;
}

.col a{
	color: rgb(0, 132, 255);
	text-decoration: none;
}

.cards{
	float: left;
	margin-left: 20px;
	line-height: 2;
}